---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<article class="sl-flex" aria-labelledby="about-astro-heading">
  <small id="about-astro-heading">
    {title}
    <span class="sr-only">Astro</span>
  </small>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 1280 800" style="enable-background:new 0 0 1280 800;" xml:space="preserve">
<style type="text/css">
  .st0{fill:#FFFFFF;}
  .st1{fill:#FDE047;}
</style>
<g>
  <g>
    <g>
      <polygon class="st0" points="431.5,343.1 371.9,457.8 361.3,377.5 363.7,372.6 377.9,343.1      "/>
    </g>
    <polygon class="st1" points="366.2,468.8 354.6,381.2 349.6,343.1 349.6,343.1 296.1,343.1 293.4,348.6 283.4,369.3 281.8,372.6
      281.2,373.8 271.8,393.2 266.9,366.7 262.6,343.1 201.3,311.7 208.2,343.1 213.4,366.7 232.7,454.3 235.7,467.9 235.9,468.8
      284.3,468.8 293.4,451.3 294,450.2 296.8,444.7 307.5,424.2 317.1,468.8 370.1,498.5     "/>
  </g>
  <path class="st0" d="M614.8,343.9c15.8-3.1,29.4-4.7,40.9-4.7h8.2c10.7,0,18.7,3.2,24,9.7c5.3,6.4,7,15,5.1,25.7l-9.6,54.2
    c-2.1,11.8-7,21-14.9,27.7c-7.9,6.7-17.7,10-29.5,10h-87.2l29.1-165h41.2L614.8,343.9z M650.9,379.3c0.4-2.4,0-4.3-1.3-5.9
    c-1.3-1.6-3.1-2.4-5.5-2.4h-5.9c-6.6,0-12.4,0.3-17.3,0.9c-4.9,0.6-8.7,1.1-11.4,1.4l-10.8,61.3h33c6.3,0,10-3.1,11.1-9.4
    L650.9,379.3z"/>
  <path class="st0" d="M761.1,435.7c8.1,0,17.5-1.5,28.2-4.6l15.1-85.7h40l-21.4,121.1h-35.4l-0.3-11.4c-8,4.7-16,8.2-23.9,10.4
    c-7.9,2.2-14.5,3.3-19.7,3.3h-10.3c-10.4,0-18.1-3.1-23.3-9.4c-5.1-6.2-6.8-14.6-5-24.9l15.7-89.1h40l-14.5,82.3
    c-0.4,2.3,0,4.2,1.3,5.7c1.3,1.5,3,2.3,5.3,2.3H761.1z"/>
  <path class="st0" d="M931.2,378.5c-9.6,0-19.9,2.3-30.9,6.9l-14.3,81.1h-40l21.4-121.1h35.4l-0.3,14.9
    c15.1-11.4,29.8-17.1,44.2-17.1h10.3l-6.2,35.4H931.2z"/>
  <path class="st0" d="M1073.3,376.3l-73.3,59.4h62.9l-5.4,30.9H944.2l5.4-30.9l73.3-59.4h-62.9l5.4-30.9h113.1L1073.3,376.3z"/>
  <path class="st0" d="M547.7,352.8c-5.3-6.5-13.7-9.7-25.1-9.7h-45.7c-11.4,0-21,3.2-28.6,9.7c-7.6,6.5-12.4,15.4-14.4,26.9
    l-9.7,54.9c-1.8,10.4-0.2,18.7,5,24.9c2.5,3,5.6,5.3,9.4,6.9l70.6,0.1c0.4,0,0.8-0.1,1.2-0.1h27.1h0.2V465l4.6-25.9h-4.6H481h-6.7
    c-1,0-2,0-2.9,0c-2.3,0-4.1-0.8-5.3-2.3c-1.3-1.5-1.7-3.4-1.3-5.7l1.6-9.1h78.9l7.5-42.3C554.7,368.3,553,359.3,547.7,352.8z
     M512.4,380.8l-2.2,12.6h-38.9l2.2-12.6c1.1-6.1,4.7-9.1,10.8-9.1h20.6C511,371.7,513.5,374.7,512.4,380.8z"/>
</g>
</svg>
  <slot />
</article>

<style>
  article {
    max-width: 40rem;
    margin-inline: auto;
    padding-block: 5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }
  article > :global(*) {
    max-width: 50ch;
    margin-top: 0 !important;
  }
  small {
    color: var(--sl-color-gray-3);
  }
  svg {
    width: 15rem;
  }
</style>
